*
{
    padding: 0;
    margin: 0;
}

#sub-header
{
    background-color: #23cf5f;
    text-align: center;
    padding: 1rem;
    color: white;
    font-family:Nunito, sans-serif;
    font-size: 17px;
    line-height: 17px;
}

#main-header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#list li
{
    list-style-type: none;
    float: left;
}
.banner
{
    display: flex;
    background-color: #d4edd8;
    justify-content: space-around;

}
.msg
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.msg span
{
    font-family:Nunito, sans-serif;
    font-size: 75px;
    color: #2c3038;
    font-weight: 700;


}
.msg p
{
    text-align: center;
}

.img img
{
    width: 350px;
    height: 500px;
    padding: 20px 20px 0 0;
}
#type-msg
{animation:  typing 3.5s steps(40, end),blink-caret .75s step-end infinite;
}